fastapi
uvicorn
chromadb
google-genai
fastembed
pydantic
python-multipart
pypdf
docx2txt
pandas
openpyxl
tiktoken
rank-bm25
psutil
groq
sqlalchemy
bcrypt
python-jose[cryptography]
python-dotenv
alembic
